<%= form_with(model: firstname, local: true) do |form| %>
  <% if firstname.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(firstname.errors.count, "error") %> prohibited this firstname from being saved:</h2>

      <ul>
      <% firstname.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :language_id %>
    <%= form.text_field :language_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
