<%= form_with(model: surname, local: true) do |form| %>
  <% if surname.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(surname.errors.count, "error") %> prohibited this surname from being saved:</h2>

      <ul>
      <% surname.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :language_id %>
    <%= form.text_field :language_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
